extends layout 

block content
  include mixins/inputField
  form(method='POST').register-form
    header.form-header
      h1 #{title}
      p.form-disclaimer-text
        em
          strong Information submitted through this form will not be posted on our website and is for Pencilooza internal use only. Once you submit your registration it will be sent to our secure server for review. If your application is approved you will be given a username and temporary password to create and customize your public profile.
    div.register-form-inputs-container
      section.form-input-section
        h2.form-input-section-header Representative
        div.grouped-input-fields
          +inputField('first-name', 'First Name', 'Nicolas-Jacques', firstName===undefined ? '' : firstName, true)
          +inputField('last-name', 'Last Name', 'Conté', lastName===undefined ? '' : lastName, true)
          +inputField('representative-role', 'Role', 'Select Your Role', ['owner','partner','manager','employee','other'], true, 'select')
      section.form-input-section
        h2.form-input-section-header Company
        div.grouped-input-fields
          +inputField('company-name','Name', 'Pencilooza', companyName===undefined ? '' : companyName, true)
          +inputField('company-structure', 'Structure', 'Select Your Business Structure', ['llc','corporation','partnership','sole-proprietor','non-profit','other'], true, 'select')
        div.grouped-input-fields
          +inputField('company-years-in-operation', 'Years In Operation', '2', companyTargetMarket===undefined ? '' : companyTargetMarket, true, 'number')
          +inputField('company-ein', 'EIN', 'XX-XXXXXXX', companyEin===undefined ? '' : companyEin)
        +inputField('company-background','Background', 'Share a little about your company history.', companyBackground===undefined ? '' : companyBackground, false, 'textarea')
      section.form-input-section
        h2.form-input-section-header Location
        div.grouped-input-fields
          +inputField('location-country-code', 'Country', 'US', locationCountryCode===undefined ? '' : locationCountryCode, true)
          +inputField('location-state-code', 'State', 'FL', locationStateCode===undefined ? '' : locationStateCode, true)
        div.grouped-input-fields
          +inputField('location-postal-code', 'Postal', '32013', locationPostalCode===undefined ? '' : locationPostalCode, true)
          +inputField('location-city', 'City', 'Orange', locationCity===undefined ? '' : locationCity, true)
        div.grouped-input-fields
          +inputField('location-street', 'Street', '42 Scribble St.', locationStreet===undefined ? '' : locationStreet, true)
          +inputField('location-extension', 'Extension', 'APT. HB2, PO Box 042, etc.', locationExtension===undefined ? '' : locationExtension)
      section.form-input-section
        h2.form-input-section-header Contact
        div.grouped-input-fields
          +inputField('contact-email', 'Email', 'example@pencilooza.pencil', contactEmail===undefined ? '' : contactEmail, true, 'email')
          +inputField('contact-phone', 'Phone', '000-000-0000', contactPhone===undefined ? '' : contactPhone, true, 'tel')
          +inputField('contact-website', 'Website', 'https://example.com', contactWebsite===undefined ? '' : contactWebsite, false, 'url')
      section.form-input-section 
        h2.form-input-section-header Note
        +inputField('final-note', '', 'Enter any relevant details here. If you entered other in any of the above fields, this is a good place to specify.', finalNote===undefined ? '' : finalNote, false, 'textarea')
    button(type='submit').form-submit-button Submit