extends layout

block content
  h1= title
  if manufacturers.length
    ul
      each manufacturer in manufacturers
        li &bull; 
          a(href=manufacturer.url) #{manufacturer.company.name}
  else
    p No items found in inventory.
