include mixins/inputWithButton

nav.primary-nav
  button(type='button' id='primaryNavHamburgerToggle' aria-expanded='false') ☰
  div.primary-nav-content-container 
    section.primary-nav-logo-section
      h1.primary-nav-logo-link-header
        a(href="/").primary-nav-logo-link Pencilooza
    section.primary-nav-link-section
      h3.primary-nav-link-section-header Browse
      ul.primary-nav-link-section-ul
        li
          a(href="/manufacturer") Manufacturers 
        li
          a(href="/item") Items
    section.primary-nav-link-section
      h3.primary-nav-link-section-header Register
      ul.primary-nav-link-section-ul
        li
          a(href="/registration/create/Manufacturer") Manufacturer  
        li
          p(style='text-decoration: line-through;') Item
    form(method='POST' action='/registration' id='search-registration-form').primary-nav-search-registration
      +inputWithButton('registration-search-query','registrationSearchQuery',
        { 
          labelIsHidden:false, 
          labelText:'Find Registration',
          labelClass:'primary-nav-link-section-header',
          inputPlaceholder: 'Registration id',
          buttonClass:'registration-query-button',
          buttonText:'›',
          buttonType:'submit'
        }
      )
      p.search-error-message.error-message(style='display:none;')
    section.primary-nav-footer-section
      p &copy; 2024 Nolan Gajdascz
      a(href="https://github.com/Gajdascz" rel='noopener noreferrer' target='_blank') GitHub


script.
  document.addEventListener('DOMContentLoaded', () => {
    const form = document.querySelector('form#search-registration-form');
    const errorMsg = document.querySelector('p.search-error-message');

    //- form.addEventListener('submit', async (e) => {
    //-   e.preventDefault();
    //-   const formData = new FormData(form);
    //-   const query = new URLSearchParams(formData);
    //-   try {
    //-     const response = await fetch('/inventory/registration-status', {
    //-       method: 'POST',
    //-       body: query,
    //-       headers: { 'Content-Type': 'application/x-www-form-urlencoded' }
    //-     });
    //-     if (!response.ok) {
    //-       const errorData = await response.json();
    //-       errorMsg.textContent = errorData.message;
    //-       errorMsg.style.display = 'block';
    //-     } else {
    //-       errorMsg.style.display = 'none';
    //-       window.location.href = response.url
    //-     }
    //-   } catch (err) {
    //-     console.error('Error:', err);
    //-     errorMsg.textContent = 'An unexpected error occurred';
    //-     errorMsg.style.display = 'block';
    //-   }
    //- });

    const navToggle = document.querySelector('button#primaryNavHamburgerToggle')
    const navContent = document.querySelector('.primary-nav-content-container')
    const backdrop = document.createElement('span');
    backdrop.classList.add('backdrop');
    navToggle.addEventListener('click', (e)=>{
      const isExpanding = navToggle.getAttribute('aria-expanded') === 'false';
      if(isExpanding) {
        navToggle.setAttribute('aria-expanded','true')
        document.body.append(backdrop)
      } else {
        navToggle.setAttribute('aria-expanded','false')
        backdrop.remove();
      }
    })
    const mediaQueryBreakPoint = window.matchMedia('(min-width: 725px)'); 
    const handleBreakpoint = (e) => {
      if(e.matches) {
        navToggle.setAttribute('aria-expanded',false);
        backdrop.remove();
      }
    }
    mediaQueryBreakPoint.addEventListener('change',handleBreakpoint)
  });