nav.primary-nav
  div.primary-nav-content-container 
    section.primary-nav-logo-section
      h1.primary-nav-logo-link-header
        a(href="/").primary-nav-logo-link Pencilooza
    section.primary-nav-link-section
      h3.primary-nav-link-section-header Browse
      ul.primary-nav-link-section-ul
        li
          a(href="/inventory/manufacturers") Manufacturers 
        li
          a(href="/inventory/items") Items
    section.primary-nav-link-section
      h3.primary-nav-link-section-header Register
      ul.primary-nav-link-section-ul
        li
          a(href="/inventory/manufacturer/create") Manufacturer  
        li
          a(href="/inventory/item/create") Item
    section.primary-nav-footer-section
      p &copy; 2024 Nolan Gajdascz
      a(href="https://github.com/Gajdascz" rel='noopener noreferrer' target='_blank') GitHub