/* #region Font Imports */
@font-face {
  font-family: 'fredericka';
  src: url('../fonts/frederickathegreat.woff2') format('woff2');
  src: url('../fonts/frederickathegreat.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thin-pencil';
  src: url('../fonts/thin_pencil_handwriting.woff') format('woff');
  src: url('../fonts/thin_pencil_handwriting.woff2') format('woff2');
}
/* #endregion */

:root {
  --color-blue-light: #E3F2FD;
  --color-blue-darker: #95d3ff;
  --color-backdrop: #d7eeffb7;
  --color-gray-graphite: #444444;
  --color-gray-graphite-darker: #333333;
  --color-gray-disabled: #d3d2d2;
  --color-gray-disabled-trans: #d3d2d2A0;

  --color-yellow-pencil: #f3d334;
  --color-blue-paper-line: #2F3FD0;
  --color-soft-purple: #4F2FD0;
  --color-orange-brown: #744106;
  --color-red: #AA0000;
  --color-white-paper: #F5F5F5;
  --color-white-darker: #e4e4e4;

  --color-green: #006100;

  --paper-line-height: 24px;
  --paper-top-padding: 30px;

  --shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

}

/* #region General */
h1,h2,h3,h4,h5,h6 {
  color: var(--color-gray-graphite-darker)
}
h1 {
  font-size: 2.25rem;
  font-weight: 900;
}
.link-button,
button {
  border-radius: 10px;
  padding: 0.75em;
  font-weight: bold;
  background-color: var(--color-white-darker);
  border: 2px solid var(--color-blue-paper-line);
  color: var(--color-blue-paper-line);
  display: flex;
  justify-content: center;
  align-items: center;
}


.link-button:hover,
button:hover {
  border-color: var(--color-green);
  box-shadow: var(--shadow);
  color: var(--color-green);
  background-color: var(--color-white-paper);
}
.link-button:visited {
  color: var(--color-blue-paper-line);
}
.link-button.danger-button:hover,
.danger-button:hover {
  border-color: var(--color-red);
  color: var(--color-red);
}
.button-group {
  display: flex;
  width: 100%;
  gap: 1em;
}
.button-group > *{
  flex: 1;
}
a {
  text-decoration: none;
  color: var(--color-blue-paper-line);
}
a:hover,
a:visited:hover {
  color: var(--color-green);
}
a:visited {
  color: var(--color-soft-purple);
}
ul {
  list-style-type: none;
}
ul.nested-list {
  margin-left: 1em;
} 
.span-label,
.ul-p-label {
  font-weight: bold;
}
.label-value-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  gap: 0.25em;
}
.span-value {
  max-width: 100%; 
  overflow: hidden;
  text-overflow: ellipsis;
}

ol > li {
  list-style-position: inside;
}

.pending-hover:hover,
.pending,
.pending-status {
  color: var(--color-orange-brown);
}
.valid,
.accepted-hover:hover,
.accepted,
.accepted-status {
  color: var(--color-green);
}
.invalid,
.rejected-hover:hover,
.rejected,
.error-message,
.rejected-status {
  color: var(--color-red);
}
.pending, .accepted, .rejected,
.pending-status, .accepted-status, .rejected-status {
  font-weight: bold;
}

span.backdrop {
  background-color: var(--color-backdrop);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 0;
}
.form-container {
  display: flex;
  max-width: fit-content;
  flex-wrap: wrap;
  gap: 1em;
  border: 3px solid var(--color-gray-graphite-darker);
  border-radius: 10px;
  padding: 1em;
}
.admin-form-submit-button {
  display: flex;
  height: 100%;
}
.input-errors-container {
  display: flex;
  flex-direction: column;
  color: var(--color-red);
  font-style: italic;
}
/* #endregion */

/* #region Layout */

/* #region Base */
body {
  background-color: var(--color-blue-light);
  color: var(--color-gray-graphite);
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh;
  max-width: 100vw;
}
main.layout-main-content {
  grid-column: 2;
  padding-top: var(--paper-top-padding);
  padding-left: 1em;
  padding-right: 3em;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  gap: 1em;
}
/* #endregion */
/* #region Layout Sidebar Navigation Menu */
.primary-nav {
  grid-column: 1;
  background-color: var(--color-white-paper);
  position: relative;
  height: 100%;
  width: min-content;
  line-height: var(--paper-line-height);
  padding-top: var(--paper-top-padding);
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow);
  z-index: 1;
}
button#primaryNavHamburgerToggle {
  display: none;
}
.primary-nav::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: var(--color-red);
  top: 0;
  left: 1em;
}
.primary-nav-content-container {
  height: 100%;
  background-image: repeating-linear-gradient(var(--color-white-paper) 0px, var(--color-white-paper) 24px, var(--color-blue-paper-line) 25px);
  display: flex;
  flex-direction: column;
  padding-left: 1.75em;
  padding-right: 1.25em;
  gap: var(--paper-line-height);
  font-family: 'thin-pencil';
  font-weight: 900;
  font-size: 1.15rem;
}
.primary-nav-content-container > .primary-nav-link-section{
  padding-top: 0.2em;
}
.primary-nav-link-section-header {
  color: black;
  font-size: 1.25rem;
}
.primary-nav-logo-link {
  font-family: 'fredericka';
  font-size: 2.25rem;
  font-weight: bold;
  color: var(--color-gray-graphite);
}
.primary-nav-link-section-ul {
  display: flex;
  flex-direction: column;
  gap: 0.1em;
}
.primary-nav-logo-link:visited {
  color: var(--color-gray-graphite)
}
.primary-nav-logo-link-header {
  transition: transform 0.3s ease;
}
.primary-nav-logo-link-header:hover {
  transform: scale(1.1);
}
.primary-nav-logo-link-header:hover > a {
  color: var(--color-blue-paper-line);
}
.primary-nav-link-section-header,
.primary-nav-logo-link {
  text-align: center;
}
.primary-nav-search-registration {
  width: 100%;
}
.registration-query-button {
  font-weight: 900;
  padding: 0.5em;
  font-size: 1.5rem;
}
.primary-nav-footer-section {
  margin-top: auto;
  display: flex;
  font-size: 0.95rem;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-width: max-content;
}
p.search-error-message {
  font-size: 1rem;
  font-style: italic;
}
/* #endregion */

/* #endregion */

/* #region Mixins */

/* #region Input With Button */
.input-with-button-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  gap: 0.5em;
  flex: 1;
}
.input-with-button-wrapper {
  display: flex;
  align-items: center;
  border: 2px solid var(--color-gray-graphite-darker);
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--color-white-paper);
  flex: 1;
}
.input-with-button-wrapper.invalid {
  border-color: var(--color-red);
  color: var(--color-red);
}
.input-with-button-wrapper > * {
  border: none;
  background-color: transparent;
}
.input-with-button-wrapper > input {
  cursor: text;
  font-weight: 900;
  height: 100%;
  padding: 0.25em;
  width: 100%;
  min-width: 0;
  flex: 1;
  font-size: 1rem;
}
.input-with-button-wrapper > input:focus,
.input-with-button-wrapper > input:hover {
  background-color: var(--color-white-darker);
  outline: none;
}
.input-with-button-wrapper > button {
  border-radius: 0;
  border-left: 2px solid var(--color-gray-graphite-darker);
  padding: 0.5em;
}
.input-with-button-wrapper > button:hover {
  background-color: var(--color-white-darker);
}
.no-auth-admin-form-wrapper > .input-with-button-container > .input-with-button-wrapper > input[type='password'] {
  display: none;
  border: none;
}
.no-auth-admin-form-wrapper > .input-with-button-container > .input-with-button-wrapper > button.admin-form-submit-button {
  width: 100%;
  border: none;
}

/* #endregion */
/* #region Input Field */
.input-field-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
.input-field-wrapper-label {
  font-weight: bold;
  cursor:text; 
}
.input-field-wrapper-field {
  cursor: text;
  background-color: var(--color-white-paper);
  border: 2px solid var(--color-gray-graphite-darker);
  border-radius: 5px;
  padding: 0.5em;
  flex:1;
}
.input-field-wrapper-field.pending-validation {
  border-color: var(--color-orange-brown);
}
span.required-marker.pending-validation {
  color: var(--color-orange-brown);
}
.input-field-wrapper-field:focus {
  outline: 2px solid var(--color-blue-paper-line);
  box-shadow: var(--shadow);
}
.input-field-wrapper-field.valid {
  border-color: var(--color-green);
}
.input-field-wrapper-field.invalid {
  border-color: var(--color-red);
}

select.input-field-wrapper-field {
  cursor: pointer;
}
textarea.input-field-wrapper-field {
  min-height: 80px;
  resize: none;
}
.input-field-wrapper-errors-container {
  display: flex;
  flex-direction: column;
  /* min-width: max-content; */
}

.grouped-input-fields {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 0.5em;
}
/* #endregion */
/* #region Custom Radio*/
.custom-radio-label-wrapper {
  cursor: pointer;
  display: flex;
  flex-direction: row-reverse;
  gap: 0.5em;
  font-weight: bold;
}
.custom-radio-label-wrapper > input[type='radio'] {
  display: none;
}
.custom-radio-label-wrapper > .custom-radio-button {
  width: 20px;
  height: 20px;
  border: 2px solid var(--color-gray-graphite-darker);
  border-radius: 50%;
  position: relative;
  margin-left: auto;
  display: inline-block;
}
.custom-radio-label-wrapper[data-status='active']:hover > .custom-radio-button { 
  background-color: var(--color-blue-darker);
}
.custom-radio-label-wrapper[data-status='active']:hover {
  color: var(--color-gray-graphite-darker);
}
.custom-radio-label-wrapper[data-status='disabled'] {
  color: var(--color-gray-disabled-darker);
  cursor: default;
}
.custom-radio-label-wrapper[data-status='disabled'] > * {
  background-color: var(--color-gray-disabled);
  border-color: var(--color-gray-disabled-darker);
}

.custom-radio-label-wrapper > input[type='radio']:checked + .custom-radio-button::after {
  content: '';
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: var(--color-blue-paper-line);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.grouped-radio-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}
/* #endregion */

/* #endregion */

/* #region Dropdown Menu --- Requires work to be viable mixin. Currently only useable in itemDetail page.
*/
.dropdown-container {
  position: relative;
  width: max-content;
}

.dropdown-container-label-toggle-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}
.dropdown-container-label {
  width: min-content;
  font-weight: normal;
  font-style: italic;
  margin-bottom: 0.15em;
}


/* #region Dropdown Toggle Button */
.dropdown-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap:  nowrap;
  font-weight: 600;
  border-radius: 10px;
  padding: 0.25em;
  z-index: 0;
  color: var(--color-gray-graphite-darker);
  flex: 1;
}
.dropdown-toggle[aria-expanded='true'] {
  border-radius: 10px 10px 0 0;
  border: 2px solid var(--color-green);
  border-bottom:1px solid var(--color-green);
  color: var(--color-green);
  background-color: var(--color-white-paper);
}

.dropdown-toggle::after {
  content: url('data:image/svg+xml;utf8,<svg width="24px" height="24px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>menu-down</title><path d="M7,10L12,15L17,10H7Z" /></svg>');
  border-radius: 0 10px 10px 0;
  transform: rotate(0deg);
  transform-origin: center;
  transition: transform 0.1s linear;
}
.dropdown-toggle[aria-expanded='true']::after {
  transform: rotate(180deg);  
  border-radius: 0;

}
.dropdown-toggle[aria-expanded='false']::after {
  transform: rotate(0deg);  
}
/* #endregion */

.dropdown-menu-option-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 98%;
  transform: translateX(-50%);
  background-color: var(--color-white-paper);
  z-index: 1;
  width: 100%;
  border-radius: 0 0 10px 10px;
  border: 2px solid var(--color-green);
  border-top:1px solid var(--color-green);
  box-shadow: var(--shadow);
}

.dropdown-menu-option {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.1em;
}
.selected-option,
.dropdown-menu-option:hover {
  background-color: var(--color-yellow-pencil);
  font-weight: 600;
  color: black;
  box-shadow: var(--shadow);
}
.dropdown-menu-option:last-child{
  border-radius: 0 0 10px 10px;
}
/*  #endregion  */

/* #region Pages */

/* #region Index Page */
.index-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.index-intro {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.index-intro > h1 {
  text-align: center;
  font-size: 2rem;
}
/* #endregion */
/* #region Item Detail */
section.item-detail-options {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 1em;
}
section.item-detail-options > * {
  flex: 1;
}
form#itemDetailOptionsForm {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}
.item-detail-options-inputs-container {
  display: flex;
  flex-wrap: wrap; 
  gap: 0.25em; 
  max-width: 100%;
}
.item-detail-options-inputs-container > .dropdown-container {
  flex: 1 1 35%
}
.item-detail-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.item-detail-basic-info-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
.item-detail-totals {
  display: flex;
  gap: 0.25em;
  flex-direction: column;
  width: max-content;
}
.selected-options-overview {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.selected-options-costs,
.selected-options-references-list {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}
.selected-option-link,
.selected-option-li {
  font-style: italic;
}


/* #endregion */
/* #region Registration Confirmation */
.registration-confirmation-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
/* #endregion */
/* #region Register Form */
.register-form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding-bottom: 3em;
  padding-right: 3em;
}
.form-header {
  display: flex;
  flex-direction: column;
}
.form-input-section-header {
  font-weight: 900;
  color: var(--color-gray-graphite-darker);
  font-size: 1.75rem;
  border-bottom: 2px solid var(--color-gray-graphite-darker);
  width: 75%;
}
.register-form-inputs-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex-wrap: wrap;
}

.form-input-section {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

/* #endregion */
/* #region Registration Status */
.registration-status-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.registration-status-header {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--color-gray-graphite-darker);
  text-wrap: wrap;
  width: 100%;
  word-wrap: break-word;
}

.registration-status-body {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.registration-status-data-sections-container {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  max-width: 95%;
  gap: 1em;
}
.registration-status-data-section {
  display: flex;
  flex-direction: column;
}

.status-form-review-radio-container {
  display: flex;
  flex-direction: column;
  max-width: max-content;
  gap: 0.25em;
}
form#registration-review-form > .grouped-radio-buttons >  .custom-radio-label-wrapper > input#acceptRegistration[type='radio']:checked + .custom-radio-button::after {
  background-color: var(--color-green);
}

form#registration-review-form > .grouped-radio-buttons >.custom-radio-label-wrapper > input#rejectRegistration[type='radio']:checked + .custom-radio-button::after {
  background-color: var(--color-red);
}
.registration-status-other-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 1em;
}
/* #endregion */
/* #region Manufacturer Detail */
.manufacturer-detail-page-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.manufacturer-info-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.manufacturer-info-container > * {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}
form#manufacturer-detail-form > .grouped-radio-buttons >  .custom-radio-label-wrapper > input#deleteManufacturer[type='radio']:checked + .custom-radio-button::after {
  background-color: var(--color-red);
}
/* #endregion */
/* #region List Page */
.list-page-entities {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  font-size: 1.15rem;
  text-wrap: nowrap;
}
.list-page-entities > * {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* #endregion */
/* #endregion */


/* #region Media Queries */
@media (max-width: 724px){
  body {
    display: flex;
    flex-direction: column;
  }
  main.layout-main-content {
    padding: 0 1em 1em 1em;
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }

  .primary-nav {
    background: none;
    padding: 1em 0 0 1em;
    border-radius: 10px;
    box-shadow: none;
    position: relative;
    height: min-content;
  }
  .primary-nav-logo-link {
    font-size: 3rem;
  }
  .primary-nav::before {
    display: none;
  }

  .primary-nav-content-container {
    padding-left: 0.5em;
    position: absolute;
    flex-direction: column;
    align-items: center;
    padding: 1em 2em 0.5em 1em;
    font-size: 1.33rem;
    gap: 1.25em;
    flex: 1;
    top: 100%;
    box-shadow: var(--shadow);
    width: 80vw;
    min-height: 90vh;
    min-width: fit-content;
  }

  button#primaryNavHamburgerToggle {
    display: block;
    border-radius: 10px;
    box-shadow: var(--shadow);
    width: 3em;
    position: sticky;
  }
  button#primaryNavHamburgerToggle[aria-expanded='true'] {
    border-color: var(--color-green);
    box-shadow: var(--shadow);
    background-color: var(--color-white-paper);
    color: var(--color-green);
  }
  button#primaryNavHamburgerToggle[aria-expanded='false'] + .primary-nav-content-container {
    display: none;
  }
  button#primaryNavHamburgerToggle[aria-expanded='true'] + .primary-nav-content-container {
    display: flex;
  }
}
/* #endregion */