@font-face {
  font-family: 'fredericka';
  src: url('../fonts/frederickathegreat.woff2') format('woff2');
  src: url('../fonts/frederickathegreat.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'thin-pencil';
  src: url('../fonts/thin_pencil_handwriting.woff') format('woff');
  src: url('../fonts/thin_pencil_handwriting.woff2') format('woff2');
}

:root {
  --color-blue-light: #E3F2FD;
  --color-gray-graphite: #4A4A4A;
  --color-gray-graphite-darker: #333333;
  --color-yellow-pencil: #f3d334;
  --color-brown-wood: #503a11;
  --color-pink-eraser: #d7888f;
  --color-blue-paper-line: #2F3FD0;
  --color-red-paper-margin-line: #AA0000;
  --color-white-paper: #F5F5F5;
  --color-green: #006100;

  --paper-line-height: 24px;
  --paper-top-padding: 30px;

  --shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

}
h1,h2,h3,h4,h5,h6 {
  color: var(--color-gray-graphite-darker)
}
body {
  background-color: var(--color-blue-light);
  color: var(--color-gray-graphite);
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh;
}

main.layout-main-content {
  grid-column: 2;
  padding-top: var(--paper-top-padding);
  padding-left: 1em;
}
button {
  border-radius: 10px;
  padding: 0.75em;
  font-weight: bold;
  background-color: var(--color-white-paper);
  border: 2px solid var(--color-blue-paper-line);
  color: var(--color-blue-paper-line);
}
button:hover {
  border-color: var(--color-green);
  box-shadow: var(--shadow);
  color: var(--color-green);
}
a {
  text-decoration: none;
  color: var(--color-blue-paper-line);
}
a:hover,
a:visited:hover {
  color: var(--color-red-paper-margin-line);
}
a:visited {
  color: var(--color-green);
}
ul {
  list-style-type: none;
}
ul.nested-list {
  margin-left: 1em;
} 
.span-label,
.ul-p-label {
  font-weight: bold;
}
.label-value-wrapper {
  display: flex;
  gap: 0.5em;
}



/* #region Input Field */
.input-field-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
.input-field-wrapper-label {
  font-weight: bold;
  cursor:text; 
}
.input-field-wrapper-field {
  cursor: text;
  background-color: var(--color-white-paper);
  border: 2px solid var(--color-gray-graphite-darker);
  border-radius: 5px;
  padding: 0.5em;
  flex:1;
}
.input-field-wrapper-field:focus {
  outline: 2px solid var(--color-blue-paper-line);
}
select.input-field-wrapper-field {
  cursor: pointer;
}
textarea.input-field-wrapper-field {
  min-height: 80px;
  resize: none;
}

.grouped-input-fields {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}
/* #endregion */

/* #region Dropdown Menu*/
.dropdown-container {
  position: relative;
  width: max-content;
}

.dropdown-container-label-toggle-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}
.dropdown-container-label {
  width: min-content;
  font-weight: normal;
  font-style: italic;
  margin-bottom: 0.15em;
}


/* #region Toggle Button */
.dropdown-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-wrap:  nowrap;
  font-weight: 600;
  border-radius: 10px;
  padding: 0.25em;
  z-index: 0;
  color: var(--color-gray-graphite-darker);
}
.dropdown-toggle[aria-expanded='true'] {
  border-radius: 10px 10px 0 0;
  border: 2px solid var(--color-green);
  border-bottom:1px solid var(--color-green);
}

.dropdown-toggle::after {
  content: url('data:image/svg+xml;utf8,<svg width="24px" height="24px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>menu-down</title><path d="M7,10L12,15L17,10H7Z" /></svg>');
  border-radius: 0 10px 10px 0;
  transform: rotate(0deg);
  transform-origin: center;
  transition: transform 0.1s linear;
}
.dropdown-toggle[aria-expanded='true']::after {
  transform: rotate(180deg);  
  border-radius: 0;

}
.dropdown-toggle[aria-expanded='false']::after {
  transform: rotate(0deg);  
}
/* #endregion */

.dropdown-menu-option-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 98%;
  transform: translateX(-50%);
  background-color: var(--color-white-paper);
  z-index: 1;
  width: 100%;
  border-radius: 0 0 10px 10px;
  border: 2px solid var(--color-green);
  border-top:1px solid var(--color-green);
  box-shadow: var(--shadow);
}

.dropdown-menu-option {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.1em;
}
.selected-option,
.dropdown-menu-option:hover {
  background-color: var(--color-yellow-pencil);
  font-weight: 600;
  color: black;
  box-shadow: var(--shadow);
}
.dropdown-menu-option:last-child{
  border-radius: 0 0 10px 10px;
}
/*  #endregion  */

/* #region Item Detail */
section.item-detail-options {
  display: flex;
  justify-content: baseline;
  align-items: center;
  gap: 1em;
}
section.item-detail-options > * {
  flex: 1 1 25%;
  max-width: fit-content;
}
form#itemDetailOptionsForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.25em;
}
.item-detail-options-inputs-container {
  display: flex;
  flex-wrap: wrap; 
  gap: 0.25em; 
  max-width: fit-content;
}
.item-detail-options-inputs-container > .dropdown-container {
  flex: 1 1 35%
}
.item-detail-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.item-detail-header {
}
.item-detail-basic-info-list {
  display: grid;
  grid-template-areas: 
    'cat type mfr' 
    'stock madeIn sku'
    'ppu . .';
  grid-auto-columns: max-content;
  gap: 0.5em;
  width: min-content;
}
.item-detail-category { grid-area: cat;}
.item-detail-type {grid-area: type;}
.item-detail-mfr {grid-area: mfr;}
.item-detail-stock {grid-area: stock};
.item-detail-base-ppu {grid-area:ppu}
.item-detail-sku {grid-area:sku}

.item-detail-totals {
  display: flex;
  flex-direction: column;
  width: max-content;
}
.selected-options-overview {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.selected-options-costs,
.selected-options-references-list {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}
.selected-option-link,
.selected-option-li {
  font-style: italic;
}
/* #endregion */

/* #region Register Form */
.register-form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding-bottom: 3em;
  padding-right: 3em;
}
.form-header {
  display: flex;
  flex-direction: column;
}
.form-input-section-header {
  font-weight: 900;
  color: var(--color-gray-graphite-darker);
  font-size: 1.75rem;
  border-bottom: 2px solid var(--color-gray-graphite-darker);
  width: 75%;
}
.register-form-inputs-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex-wrap: wrap;
}

.form-input-section {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

/* #endregion */

/* #region Layout Sidebar Navigation Menu */
.primary-nav {
  grid-column: 1;
  background-color: var(--color-white-paper);
  position: relative;
  height: 100%;
  line-height: var(--paper-line-height);
  padding-top: var(--paper-top-padding);
  display: flex;
  flex-direction: column;
  box-shadow: var(--shadow);
}
.primary-nav::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: var(--color-red-paper-margin-line);
  top: 0;
  left: 1em;
}
.primary-nav-content-container {
  height: 100%;
  background-image: repeating-linear-gradient(var(--color-white-paper) 0px, var(--color-white-paper) 24px, var(--color-blue-paper-line) 25px);
  display: flex;
  flex-direction: column;
  padding-left: 1.75em;
  padding-right: 1em;
  gap: var(--paper-line-height);
  font-family: 'thin-pencil';
  font-weight: 900;
  font-size: 1.15rem;
}
.primary-nav-content-container > .primary-nav-link-section{
  padding-top: 0.2em;
}
.primary-nav-link-section-header {
  color: black;
  font-size: 1.25rem;
}
.primary-nav-logo-link {
  font-family: 'fredericka';
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-gray-graphite);
}
.primary-nav-logo-link:visited {
  color: var(--color-gray-graphite)
}
.primary-nav-logo-link-header {
  transition: transform 0.3s ease;
}
.primary-nav-logo-link-header:hover {
  transform: scale(1.1);
}
.primary-nav-logo-link-header:hover > a {
  color: var(--color-blue-paper-line);
}
.primary-nav-link-section-header,
.primary-nav-logo-link {
  text-align: center;
}
.primary-nav-footer-section {
  margin-top: auto;
  display: flex;
  font-size: 0.95rem;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-width: max-content;
}
/* #endregion */

/* #region Index Page */
.index-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.index-intro {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.index-intro > h1 {
  text-align: center;
  font-size: 2rem;
}
/* #endregion */