include inputField
include inputWithButton 

mixin adminForm(actionURL='#', formId)
  form(method='POST', action=actionURL, id=formId).admin-form-container
    block
    +inputWithButton('password','adminPassword','admin-password',
      {
        labelIsHidden:true,
        labelText:'Admin Password',
        inputPlaceholder:'Admin Password',
        buttonClass:'admin-form-submit-button',
        buttonText:'Submit',
        buttonType:'submit'
      }
    )
  script.
    document.addEventListener('DOMContentLoaded', () => {
    const actionURL = '#{actionURL}';
    const form = document.querySelector('#'+'#{formId}');
    form.addEventListener('submit', async (e) => {
      e.preventDefault();
      const formData = new FormData(form);
      const enteredPassword = new URLSearchParams(formData);
      try {
        const response = await fetch('/inventory/'+actionURL, {
          method: 'POST',
          body: enteredPassword,
          headers: { 'Content-Type': 'application/x-www-form-urlencoded' }
        });
        console.log(response)
        const json = await response.json();
        alert(json.message);
        if (!response.ok) {
        } else {
        }
      } catch (err) {
        console.error('Error:', err);
      }
      });
    });