include inputField
include inputWithButton 
include hiddenField
//-
  adminForm provides a form Element which blocks submissions unless the admin password is correct.
  |--> Form submission handlers MUST be registered in the adminCommands module to process the form data.
-
  const inputOptions = {
    type:'password',
    labelIsHidden:true,
    labelText:'Admin Password',
    inputPlaceholder:'Admin Password',
    buttonClass:'admin-form-submit-button',
    buttonText:'Submit',
    buttonType:'submit',
  }
mixin adminForm(formId, adminCommand)
  form(method='POST', id=formId).admin-form.form-container
    +hiddenField('admin-command','adminCommand',value=adminCommand)
    block
    +inputWithButton('admin-password','adminPassword',inputOptions)
  script(src='/scripts/adminForm.js')